.cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 100% ; */
}

.head{
    font-size: 2rem;
    font-weight: 700;
    margin: 1rem auto;
}

.post{
    padding: 1rem;
}

.post>p{
    text-transform: capitalize;
}

.comments{
    padding: 1rem;
}